.gradle/
build/
local.properties
*.iml
.idea/
*.keystore
*.jks
*.p12
*.pfx
keystore.properties
signing.properties
release.keystore
*-credentials.txt
*-keystore-credentials.txt
!gradle/wrapper/gradle-wrapper.jar
/captures/
.externalNativeBuild/
.cxx/
